@model WebApplication3.Models.companypwd
@{
    ViewBag.Title = "changeload1";
}

<center><h2>CHANGE PASSWORD</h2></center>
<center>
    @using (Html.BeginForm("changclick1", "password", FormMethod.Post))
    {
        <div><label>Curret Password</label></div>
        <div>
            @Html.PasswordFor(m => m.oldpwd)
            @Html.ValidationMessageFor(m => m.oldpwd)
        </div>
        <div><label>New Password</label></div>
        <div>
            @Html.PasswordFor(m => m.newpwd)
            @Html.ValidationMessageFor(m => m.newpwd)
        </div>
        <div><label>Confirm Password</label></div>
        <div>
            @Html.PasswordFor(m => m.conpwd)
            @Html.ValidationMessageFor(m => m.conpwd)
        </div>
        <div>
            <input type="submit" value="Reset password" style="background-color:blueviolet"/>
            <br/>
            @Html.DisplayFor(m => m.result)
       </div>     
    }
</center>
