@model WebApplication3.Models.companypwd
@{
    ViewBag.Title = "changeload1";
}

<h2>changeload1</h2>
<div>
    @using (Html.BeginForm("changclick1", "password", FormMethod.Post))
    {
        <div><label>curret password</label></div>
        <div>
            @Html.PasswordFor(m => m.oldpwd)
            @Html.ValidationMessageFor(m => m.oldpwd)
        </div>
        <div><label>New Password</label></div>
        <div>
            @Html.PasswordFor(m => m.newpwd)
            @Html.ValidationMessageFor(m => m.newpwd)
        </div>
        <div><label>confirm Password</label></div>

        <div>
            @Html.PasswordFor(m => m.conpwd)
            @Html.ValidationMessageFor(m => m.conpwd)
        </div>
        <div>
            <input type="submit" value="Reset password" />
            @Html.DisplayFor(m => m.result)
        </div>
        <div>
            @Html.ActionLink("homepage", "home1", "login")
        </div>
    }
</div>
